
@font-face {
    font-family: 'Gilroy';
    src: url('CollegeAdmissionPortal/src/main/webapp/assets/fonts/...') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('CollegeAdmissionPortal/src/main/webapp/assets/fonts/...') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Gilroy', Arial, sans-serif;
}
